<h1>add courses</h1>
{{#if error}}
<p class="alert"> {{error}}</p>
{{/if}}
<form action="/add" method="POST" >
        <div class="input-field col s6">
          <input  id="title" name="title" type="text" class="validate" value="{{data.title}}" required>
          <label for="title">Name course</label>
          <span class="helper-text" data-error="Enter name" ></span>
        </div>
        <div class="input-field col s6">
          <input  id="price" name="price" type="number" class="validate" value="{{data.price}}" required min="1">
          <label for="price">Price course</label>
          <span class="helper-text" data-error="Enter price"></span>
        </div>
        <div class="input-field col s6">
          <input  id="img" name="img" type="text" class="validate" value="{{data.img}}" required>
          <label for="img">URL img</label>
          <span class="helper-text" data-error="Enter url img" ></span>
        </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">

         <button class="btn btn-primary">Add course</button>

</form>